<section class="arrayRanking">
	<div class="container">
		<h2>Classement pilote</h2>
		<table>
			<thead>
				<th>Position</th>
				<th>Pilote</th>
				<th>Points</th>
			</thead>
			<tbody>
				{% for pilot in arrayPilots %}
					<tr>
						<td>{{ pilot.position }}</td>
						<td>{{ pilot.fullName }}</td>
						<td>{{ pilot.seasonTotalPoint }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<a class="{{"btn-link #{category}BackgroundColor1"}}" href="{{ path('app_pilot', {'category': category }) }}">Voir le calendier</a>
	</div>
</section>
