<section class="adminContentCard">
	<div class="container">
		{% include "admin/layouts/filter.html.twig" %}
		<div class="content">
			{% if items == [] %}
				<p class="noElement">Aucun élément ne correspond à votre recherche</p>
			{% else %}
				{% for item in items %}
					<div class="containerContentCard">
						<figure>
							<img src="{{ vich_uploader_asset(item, 'imageFile') }}" alt="">
							<figcaption>
								<h3>{{ item.name }}</h3>
								<div>
									<p>{{ item.categoryToString }}
										-
										{{ item.currentSeasonToString }}</p>
								</div>
								<div>
									{% if item.startDateToString and item.endDateToString %}

										<p>Du
											{{ item.startDateToString }}
											au
											{{ item.endDateToString }}</p>
									</p>
								{% else %}
									<p>Course le
										{{ item.raceDateToString }}</p>
								{% endif %}

							</div>
						</figcaption>
					</figure>
					<div class="icons">
						<a href="{{ path('app_admin_entity', {'entity': entity,'id': item.id }) }}">
							<img src="{{ asset('assets/icons/editer.svg') }}" alt="">
						</a>
						<a href="{{ path('app_admin_delete', {'entity': entity,'id': item.id }) }}" onclick="return confirm('Êtes-vous sur de vouloir supprimer cette entité ?')">
							<img src="{{ asset('assets/icons/supprimer.svg') }}" alt="">
						</a>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
</section>
